@page "/Reparacion"

@attribute [Authorize]

@inject IServer<Reparaciones> reparacionesService
@inject IServer<Estados> estadosService
@inject IServerAsp<ApplicationUser> usuariosService
@inject IServer<Ventas> ventasService
@inject IServer<Configuraciones> configuracionesService
@inject IServer<Condiciones> condicionesService
@inject IServer<MetodoPagos> metodosPagosService
@inject IServer<Productos> productosService
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthenticationState
@rendermode InteractiveServer

<PageTitle>Reparaci&oacute;n</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h3 class="fw-bold text-center">Reparaciones</h3>
        </div>
        <div class="card-body">
            <div class="container">
                <div style="margin-left: 4px;">
                    <div class="row">
                        <label>Filtrar por:</label>
                        <div class="col-2">
                            <InputSelect @bind-Value="Opcion" class="form-select">
                                <AuthorizeView Roles="Admin">
                                    <option value="1">Reparaci&oacute;n Id</option>
                                </AuthorizeView>
                                <option value="2">T&eacute;cnico</option>
                                <option value="3">Fecha</option>
                                <option value="4">Todo</option>
                            </InputSelect>
                        </div>
                        <div class="col-auto">
                            @switch (Opcion)
                            {
                                case 1:
                                    <div class="input-group justify-content-end">
                                        <InputNumber @bind-Value="reparacion.ReparacionId" class="form-control" min="0"></InputNumber>
                                        <div class="input-group-append">
                                            <button class="btn btn-info" @onclick="Buscar">
                                                <img src="/bootstrap/img/buscar.png" alt="Buscar" style="width: 24px; height: 24px; margin-right: 2px;">
                                            </button>
                                        </div>
                                    </div>
                                    break;
                                case 2:
                                    <div class="input-group justify-content-end">
                                        <InputText @bind-Value="reparacion.Tecnico" class="form-control"></InputText>
                                        <div class="input-group-append">
                                            <button class="btn btn-info" @onclick="Buscar">
                                                <img src="/bootstrap/img/buscar.png" alt="Buscar" style="width: 24px; height: 24px; margin-right: 2px;">
                                            </button>
                                        </div>
                                    </div>
                                    break;
                                case 3:
                                    <div class="input-group justify-content-end">
                                        <InputDate @bind-Value="FechaInicio" class="form-control"></InputDate>
                                        <InputDate @bind-Value="FechaFin" class="form-control"></InputDate>
                                        <div class="input-group-append">
                                            <button class="btn btn-info" @onclick="Buscar">
                                                <img src="/bootstrap/img/buscar.png" alt="Buscar" style="width: 24px; height: 24px; margin-right: 2px;">
                                            </button>
                                        </div>
                                    </div>
                                    break;
                                case 4:
                                    <div class="input-group justify-content-end">
                                        <button class="btn btn-info" @onclick="Buscar">
                                            <img src="/bootstrap/img/buscar.png" alt="Buscar" style="width: 24px; height: 24px; margin-right: 2px;">
                                        </button>
                                    </div>
                                    break;
                            }
                        </div>
                        <AuthorizeView Roles="Cliente">
                            @if (!bandera)
                            {
                                <div class="col text-end">
                                    <div class="col-auto">
                                        <a href="/Reparaciones/Create" class="btn btn-success bi bi-file-earmark-diff-fill">Solicitar</a>
                                    </div>
                                </div>
                            }
                        </AuthorizeView>
                        <AuthorizeView Roles="Admin">
                            <div class="col text-end">
                                <div class="col-auto">
                                    <a href="/Reparaciones/Create" class="btn btn-success bi bi-file-earmark-diff-fill">Crear</a>
                                </div>
                            </div>
                        </AuthorizeView>
                    </div>
                </div>
                <table class="table table-sm justify-content-center text-center">
                    <thead>
                        <tr>
                            <th><button class="nav-link text-white form-control" @onclick=@(() => CambiarEstado("Completado"))> Completado</button></th>
                            <th> <button class="nav-link text-white form-control" @onclick=@(() => CambiarEstado("En Proceso"))>En Proceso</button></th>
                            <th><button class="nav-link text-white form-control" @onclick=@(() => CambiarEstado("Pendiente"))>Pendiente</button></th>
                            <th><button class="nav-link text-white form-control" @onclick=@(() => CambiarEstado("Cancelado"))>Cancelado</button></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div>
            <table class="table table-light table-hover table-striped table-bordered text-center">
                <thead>
                    <tr class="fw-bold">
                        <AuthorizeView Roles="Admin">
                            <th scope="col">Reparaci&oacute;n Id</th>
                        </AuthorizeView>
                        <th scope="col">Usuario</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">T&eacute;cnico</th>
                        <th scope="col">Estado</th>
                        <AuthorizeView Roles="Admin">
                            <th scope="col">Editar</th>
                        </AuthorizeView>
                        <th scope="col">Ver</th>
                        <AuthorizeView Roles="Admin">
                            <th scope="col">Vender</th>
                        </AuthorizeView>
                        <th scope="col">Factura</th>
                    </tr>
                </thead>
                <tbody>
                    <AuthorizeView Roles="Admin">
                        @foreach (var item in reparaciones)
                        {
                            var usuario = usuarios.FirstOrDefault(x => x.Id == item.ClienteId);
                            <tr>
                                <td>@item.ReparacionId</td>
                                @if (usuario != null)
                                {
                                    <td>@usuario!.NickName</td>
                                }
                                else
                                {
                                    <td>Usuario no registrado</td>
                                }
                                <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                                <td>@item.Tecnico</td>
                                @if (item.EstadoId == 1)
                                {
                                    var estado = estados.FirstOrDefault(x => x.EstadoId == item.EstadoId);
                                    <td class="text-secondary fw-bold">@estado!.NombreEstado</td>
                                }
                                else if (item.EstadoId == 2)
                                {
                                    var estado = estados.FirstOrDefault(x => x.EstadoId == item.EstadoId);
                                    <td class="text-info fw-bold">@estado!.NombreEstado</td>
                                }
                                else if (item.EstadoId == 3)
                                {
                                    var estado = estados.FirstOrDefault(x => x.EstadoId == item.EstadoId);
                                    <td class="text-success fw-bold">@estado!.NombreEstado</td>
                                }
                                else if (item.EstadoId == 4)
                                {
                                    var estado = estados.FirstOrDefault(x => x.EstadoId == item.EstadoId);
                                    <td class="text-danger fw-bold">@estado!.NombreEstado</td>
                                }
                                @if (item.EstadoId == 4 || item.EstadoId == 3)
                                {
                                    <td>
                                        <a class="btn btn-secondary bi bi-pencil" disabled="true" style="height: 38px;"></a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a href="/Reparaciones/Edit/@item.ReparacionId" class="btn btn-warning bi bi-pencil" style="height: 38px;"></a>
                                    </td>
                                }
                                <td>
                                    <a href="/Reparaciones/Ver/@item.ReparacionId" class="btn btn-warning bi bi-eye" style="height: 38px;"></a>
                                </td>
                                @if (item.EstadoId == 2)
                                {
                                    <td>
                                        <a href="/venta/@item.ReparacionId" style="background: transparent; border: none;">
                                            <img style="height: 38px;" src="/bootstrap/img/venta.png" />
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (item.EstadoId == 3)
                                {
                                    <td>
                                        <button type="button" style="background: transparent; border: none;" @onclick=@(() => VerFactura(item.ReparacionId))>
                                            <img style="height: 38px;" src="/bootstrap/img/factura.svg" />
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </AuthorizeView>
                    <AuthorizeView Roles="Cliente">
                        @foreach (var item in reparaciones)
                        {
                            var usu = usuarios.FirstOrDefault(x => x.Id == item.ClienteId);
                            if (item.ClienteId == usuario!.Id)
                            {
                                <tr>
                                    <td>@usu!.NickName</td>
                                    <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                                    @if (item.Tecnico != null)
                                    {
                                        <td>@item.Tecnico</td>
                                    }
                                    else
                                    {
                                        <td>Sin t&eacute;cnico asignado</td>
                                    }
                                    @if (item.EstadoId == 1)
                                    {
                                        var estado = estados.FirstOrDefault(x => x.EstadoId == item.EstadoId);
                                        <td class="text-secondary fw-bold">@estado!.NombreEstado</td>
                                    }
                                    else if (item.EstadoId == 2)
                                    {
                                        var estado = estados.FirstOrDefault(x => x.EstadoId == item.EstadoId);
                                        <td class="text-info fw-bold">@estado!.NombreEstado</td>
                                    }
                                    else if (item.EstadoId == 3)
                                    {
                                        var estado = estados.FirstOrDefault(x => x.EstadoId == item.EstadoId);
                                        <td class="text-success fw-bold">@estado!.NombreEstado</td>
                                    }
                                    else if (item.EstadoId == 4)
                                    {
                                        var estado = estados.FirstOrDefault(x => x.EstadoId == item.EstadoId);
                                        <td class="text-danger fw-bold">@estado!.NombreEstado</td>
                                    }
                                    <td>
                                        <a href="/Reparaciones/Ver/@item.ReparacionId" class="btn btn-warning bi bi-eye" style="height: 38px;"></a>
                                    </td>
                                    @if (item.EstadoId == 3)
                                    {
                                        <td>
                                            <button type="button" style="background: transparent; border: none;" @onclick=@(() => VerFactura(item.ReparacionId))>
                                                <img style="height: 38px;" src="/bootstrap/img/factura.svg" />
                                            </button>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </AuthorizeView>
                </tbody>
            </table>
        </div>
        <AuthorizeView Roles="Cliente">
            <div class="card-footer">
                <h5><strong>Nota:</strong> Solo puedes hacer una nueva solicitud de reparaci&oacute;n siempre y cuando no tengas solicitudes pendientes</h5>
            </div>
        </AuthorizeView>
    </div>
</div>

@if (factura)
{
    <div class="modal d-block opaco">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background:#399ce7 ">
                    <h5 class="modal-title fw-bold text-white"><img style="width: 20px; height: 20px;" src="/bootstrap/img/venta.png" /> Venta</h5>
                    <div class="justify-content-end d-flex">
                        <button type="button" class="btn bg-muted text-white" style="background: #ffe085" @onclick="ImprimirFactura">
                            <img style="width: 15px; height: 15px;" src="/bootstrap/img/printer.svg" />
                        </button>
                        <button type="button" class="btn bg-danger text-white" @onclick="CerrarFactura">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </div>

                <div id="factura" class="modal-body" style="height: 35rem; overflow-y: auto;">

                    <div class="position-relative modalContenedor">
                        @if (venta.Eliminada)
                        {
                            <div class="letreroEliminar position-absolute top-50 start-50 translate-middle" style="transform: translate(-50%, -50%); z-index: 9999;">
                                <img src="/bootstrap/img/returned.png">
                            </div>
                        }

                        <div class="row d-flex align-items-center justify-content-center">
                            <div id="logoEmpresa" class="text-center">
                                <img style="width: 150px; height: 120px; border-radius: 10%;" src="@getLogo()" />
                        </div>
                            <h4 class="fw-bold fs-4 text-center" style="margin-top: -8px; justify-content: center; text-align: center;">@configuracion.NombreEmpresa</h4>

                            <div class="row" style="margin-top: -12px; justify-content: center; text-align: center;">
                                <div class="col-6 text-start">
                                    <label class="fw-bold"> <i class="fas fa-phone"></i> Telf.: <span class="fw-normal">@configuracion.Telefono</span></label>
                                </div>
                                <div class="col-6 text-end">
                                    <label class="fw-bold"> <i class="fas fa-building"></i> RNC: <span class="fw-normal">@configuracion.NFC</span></label>
                                </div>
                            </div>

                            <div id="direccionEmpresa" class="fw-bold text-center">
                                <label> <i class="fas fa-map-marker"></i> Dirc.: <span class="fw-normal">@configuracion.Direccion</span></label>
                            </div>
                        </div>

                        <hr>
                        <h5 class="fw-bold text-center titular" style="font-size: 14px; font-weight: bold;">DATOS DE LA VENTA</h5>
                        <hr>

                        <div class="row">
                            <div class="col text-start">
                                <label class="fw-bold" style="font-size: 12px;">Fecha:<span class="fw-normal"> @venta.Fecha.ToString("dd/MM/yyyy")</span></label>
                            </div>
                            <div id="fechaFactura" class="col text-end">
                                <label class="fw-bold" style="font-size: 12px;">Hora: <span class="fw-normal"> @venta.Fecha.ToString("h:mm tt")</span></label>
                            </div>
                            <div class="text-start">
                                <label class="fw-bold" style="font-size: 12px;">N°: <span class="fw-normal"> @venta.VentaId</span></label>
                            </div>
                            <div class="text-start">
                                @if (venta.MetodoPagoId > 0)
                                {
                                    var met = metodosPagos.FirstOrDefault(x => x.MetodoPagoId == venta.MetodoPagoId);
                                    <label class="fw-bold" style="font-size: 12px;">M&eacute;todo Pago: <span class="fw-normal">@met!.Nombre</span></label>
                                }
                            </div>
                            <div class="text-start">
                                @if (venta.CondicionId > 0)
                                {
                                    var condi = condiciones.FirstOrDefault(x => x.CondicionId == venta.CondicionId);
                                    <label class="fw-bold" style="font-size: 12px;">Condici&oacute;n: <span class="fw-normal">@condi!.Nombre</span></label>
                                }
                            </div>
                            <div class="text-start">
                                <label class="fw-bold" style="font-size: 12px;">Cliente: <span class="fw-normal">@venta.NombreCliente</span></label>
                            </div>
                            @if (venta.ClienteId != null)
                            {
                                var cliente = usuarios.FirstOrDefault(x => x.Id == venta.ClienteId);
                                if (cliente != null)
                                {
                                    <div class="text-start">
                                        <label class="fw-bold" style="font-size: 12px;">Apellido: <span class="fw-normal">@cliente!.Apellido</span></label>
                                    </div>
                                    <div class="text-start">
                                        <label class="fw-bold" style="font-size: 12px;">Email: <span class="fw-normal">@cliente.Email</span></label>
                                    </div>
                                }
                            }
                        </div>

                        <hr>
                        <h5 class="fw-bold text-center titular" style="font-size: 14px; font-weight: bold;">PRODUCTOS</h5>
                        <hr>

                        <div class="row mb-4">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Descripci&oacute;n</th>
                                        <th class="text-end derecha">Itbis</th>
                                        <th class="text-end derecha">Importe</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in venta.VentasDetalle)
                                    {
                                        var pro = productos.FirstOrDefault(x => x.ProductoId == item.ProductoId);
                                        double subtotal = item.Cantidad * pro!.Precio;
                                        double total = subtotal - (subtotal * (pro.Descuento / 100.0f));
                                        double itbisFinal = total * (pro.ITBIS / 100.0f);
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <span>* @pro.Nombre</span>
                                                </div>
                                                <div class="row mb-3">
                                                    <span>(@item.Cantidad x @pro!.Precio.ToString("N2"))</span>
                                                </div>
                                            </td>
                                            <td class="text-end derecha">@itbisFinal.ToString("N2")</td>
                                            <td class="text-end derecha">@total.ToString("N2")</td>
                                        </tr>
                                    }
                                    @if (venta.ReparacionId > 0)
                                    {
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <span>* Reparaci&oacute;n</span>
                                                </div>
                                                <div class="row mb-3">
                                                    <span>  Botella Hidr&aacute;ulica</span>
                                                </div>
                                            </td>
                                            <td class="text-end derecha">0.00</td>
                                            <td class="text-end derecha">@reparacion.Costo.ToString("N4")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div style="margin-right: 10px">
                            <div class="row mb-5" style="text-align: end">
                                <div>
                                    <label class="fw-bold">SubTotal:</label>
                                    <span>RD$ @venta.SubTotal.ToString("N2")</span>
                                </div>
                                <div>
                                    <label class="fw-bold">ITBIS:</label>
                                    <span>RD$ @venta.ITBS.ToString("N2")</span>
                                </div>
                                <div class="mb-4">
                                    <label class="fw-bold">Total:</label>
                                    <span>RD$ @venta.Total.ToString("N2")</span>
                                </div>

                                <div class="datoInferior">
                                    <div>
                                        <label class="fw-bold">Recibido:</label>
                                        <span>RD$ @venta.Recibido.ToString("N2")</span>
                                    </div>
                                    @if (venta.CondicionId == 2)
                                    {
                                        double deuda = venta.Total - venta.Recibido;
                                        <div>
                                            <label class="fw-bold">Pendiente:</label>
                                            <span>RD$ @deuda.ToString("N2")</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <label class="fw-bold">Cambio:</label>
                                            <span>RD$ @venta.Devuelta.ToString("N2")</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row text-center centrado datoInferior">
                            <label class="fw-bold">@configuracion.Nota</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@code {
    public int Opcion { get; set; }
    public bool bandera = false, Vender = false;
    public bool factura = false;

    public Reparaciones reparacion { get; set; } = new Reparaciones();
    public List<Reparaciones> reparaciones = new List<Reparaciones>();
    public List<Estados> estados = new List<Estados>();
    public List<Productos> productos = new List<Productos>();
    public List<Ventas> ventas = new List<Ventas>();

    public List<ApplicationUser> usuarios { get; set; } = new List<ApplicationUser>();
    public ApplicationUser usuario { get; set; } = new ApplicationUser();
    public AuthenticationState authState { get; set; } = default!;

    public Ventas venta { get; set; } = new Ventas();
    public Configuraciones configuracion { get; set; } = new Configuraciones();

    public List<Condiciones> condiciones { get; set; } = new List<Condiciones>();
    public List<MetodoPagos> metodosPagos { get; set; } = new List<MetodoPagos>();
    public List<Configuraciones> configuraciones { get; set; } = new List<Configuraciones>();

    public DateTime FechaInicio { get; set; } = DateTime.Today;
    public DateTime FechaFin { get; set; } = DateTime.Today;

    protected override async Task OnInitializedAsync()
    {
        reparaciones = await reparacionesService.GetAllObject();
        estados = await estadosService.GetAllObject();
        usuarios = await usuariosService.GetAllObject();
        authState = await AuthenticationState.GetAuthenticationStateAsync();
        usuario = (usuarios.FirstOrDefault(u => u.UserName == authState.User.Identity?.Name))!;
        bandera = reparaciones.Any(r => r.EstadoId == 1 && r.ClienteId == usuario.Id);
        productos = await productosService.GetAllObject();

        condiciones = await condicionesService.GetAllObject();
        metodosPagos = await metodosPagosService.GetAllObject();
        configuraciones = await configuracionesService.GetAllObject();
        configuracion = configuraciones.FirstOrDefault()!;
    }

    public async Task Buscar()
    {
        if (Opcion == 1 && reparacion.ReparacionId > 0)
            reparaciones = await reparacionesService.GetObjectByCondition(x => x.ReparacionId == reparacion.ReparacionId);
        else if (Opcion == 2 && !string.IsNullOrEmpty(reparacion.Tecnico))
            reparaciones = await reparacionesService.GetObjectByCondition(x => x.Tecnico!.ToLower().Contains(reparacion.Tecnico.ToLower()));
        else if (Opcion == 3 && FechaFin != default && FechaInicio != default)
            reparaciones = await reparacionesService.GetObjectByCondition(v => v.Fecha.Date <= FechaFin.Date && v.Fecha.Date >= FechaInicio.Date);
        else if (Opcion == 4)
            reparaciones = await reparacionesService.GetObjectByCondition(x => true);
    }

    public async Task CambiarEstado(string estado)
    {
        var esta = await estadosService.GetObjectByCondition(x => x.NombreEstado == estado);
        Estados es = esta.FirstOrDefault(x => x.NombreEstado == estado)!;
        reparaciones = await reparacionesService.GetObjectByCondition(x => x.EstadoId == es.EstadoId);
    }

    public void CerrarVenta()
    {
        Vender = false;
    }

    public void VenderReparacion(Reparaciones reparacion)
    {
        venta.ClienteId = reparacion.ClienteId;
        venta.ReparacionId = reparacion.ReparacionId;
        venta.Fecha = DateTime.Now;

        foreach (var item in reparacion.ReparacionDetalle)
        {
            venta.VentasDetalle.Add(new VentasDetalle
                {
                    VentaId = venta.VentaId,
                    ProductoId = item.ProductoId,
                    Cantidad = item.CantidadUsada
                });
        }
    }

    public void CerrarFactura()
    {
        factura = false;
    }

    public async Task ImprimirFactura()
    {
        factura = false;
        await JSRuntime.InvokeVoidAsync("ImprimirF");
    }

    public async Task VerFactura(int reparacion)
    {
        factura = true;
        var buscado = await ventasService.GetObjectByCondition(x => x.ReparacionId == reparacion);
        venta = buscado.FirstOrDefault()!;
    }

    public string getLogo()
    {
        if (configuracion.Imagen != null && configuracion.Imagen.Length > 0)
        {
            string base64String = Convert.ToBase64String(configuracion.Imagen);
            return $"data:image/png;base64,{base64String}";
        }
        else
        {
            return "/bootstrap/img/ejemplo.png";
        }
    }
}
